h1{
    text-align: center;
}

body{
    background-color: rgb(29, 26, 26);
    color: aliceblue;
}

#card{
    border: 15px solid #444581;
    margin: auto;
    min-width: 20rem;
    max-width: 28rem;
}

.players{
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.players a{
    border: 5px solid black;
    width: 30%;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}

.players img{
    width: 100%;
    height: 80%;
    margin: 0, 10px;
}