h1{
    text-align: center;
    color: #2f57a6;
}

body{
    background-color: rgb(29, 26, 26);
    color: aliceblue;
    /* background-image: url(/public/images/Blue_Lock.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.blueLock{
    border-radius: 5%;
    width: 70%;
    margin: 20px 15%;
}

#playerPhoto{
    align-self: center;
    max-width: 30rem;
    width: 8rem;
    height: auto;
    border: 3px solid rgba(63,36, 228, 1);
    border-radius: 0.8rem;
    margin: 1em;
}

#card{
    border: 15px solid rgba(63,36, 228, 1);
    box-shadow: rgb(63,36, 228) -10px 0px 13px -7px, rgb(63,36, 228) 10px 0px 13px -7px, rgba(63,36, 228, 1) 5px 5px 15px 5px;
    border-radius: 15px;
    margin: 25px auto;
    /* background-image: url('#');
    background-size: cover; */
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 30rem; /*33rem*/
    /*background-position: center; */
}

#card div{
    margin:-15px 0 0 25px;
}

/* .hidden{
    visibility: hidden;
} */

#playerCard{
    max-width: 28rem;
    margin: auto;
}

.players, .players2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 650px;
    margin: auto;
    overflow: hidden;
    
}

.players div, .players2 div{
    border: 8px solid transparent;
    width: 14%;
    height: 90px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    margin-top: 10px;
}

.players div:hover, .players2 div:hover{
    cursor: pointer; 
    border: 4px solid rgba(63,36, 228, 1);
    border-radius: 50px;
}

.players img, .players2 img{
    height: 160px;
    margin: 0 -20%;
    object-fit: fill;
}

/* .playerName, .playerName2{
    border: 3px solid red;
} */

.name{
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 660px) {
    .players, .players2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 650px;
        margin: auto;
        overflow: hidden;
    }
    
    .players div, .players2 div{
        /* border: 8px solid red; */
        width: 25%;
        height: 90px;
        text-align: center;
        text-decoration: none;
        color: aliceblue;
        margin-top: 10px;
    } 
    
    .players img, .players2 img{
        /* height: 130px; */
        margin: 0 -20%;
        object-fit: fill;
        /* padding: 19px 0 0 0; */
    }
}